<div *ngIf="!isAuthorized" class="d-flex">
  <div class="dropdown">
    <button class="btn btn-default" type="button" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sign in
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdown">
      <form class=" d-flex flex-column justify-content-center px-2">
        <label for="inputLogin3" class="control-label">Введите логин</label>
        <input name="Login" type="text" class="form-control" id="loginL" placeholder="Login" (input)="onLoginInput($event.target.value)"/><br>
        <label for="inputPassword3" class="control-label">Введите пароль</label>
        <input name="Password" type="password" class="form-control" id="passwordL" placeholder="Password" (input)="onPasswordInput($event.target.value)"/><br>
        <button type="submit" class="btn btn-success align-self-end" (click)="onLoginClick($event)" 
        [disabled]="buttonIsDisabled">Sign in</button>
      </form> 
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-default" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sign up
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdown">
      <form class=" d-flex flex-column justify-content-center px-2">
        <label for="inputLogin3" class="control-label">Введите логин</label>
        <input name="Login" type="text" class="form-control" id="loginR" placeholder="Login" (input)="onLoginInput($event.target.value)"/><br>
        <label for="inputPassword3" class="control-label">Введите пароль</label>
        <input name="Password" type="password" class="form-control" id="passwordR" placeholder="Password" (input)="onPasswordInput($event.target.value)"/><br>
        <label for="inputEmail3" class="control-label">Введите email</label>
        <input name="Email" type="email" class="form-control" id="email" placeholder="example@email.com" (input)="onEmailInput($event.target.value)"/><br>
        <button type="submit" class="btn btn-success align-self-end" (click)="onSignUpClick($event)" 
        [disabled]="buttonIsDisabled">Sign up</button>
      </form> 
    </div>
  </div>
</div>
<div *ngIf="isAuthorized" class="d-flex">
  <div>
    <a [routerLink]="['/profile']" class="navbar-brand d-flex">
      <img style="height: 30px;" class="d-inline-block align-top rounded-circle" [src]="currentUser ? (currentUser.AvatarLink ? currentUser.AvatarLink : '/UserAvatars/defaultUser.png') : '/UserAvatars/defaultUser.png'">
      <p class="lead mb-0 ml-1">{{currentUser ? currentUser.Name : ' '}}</p>
    </a>
  </div>
  <div>
    <button class="btn btn-default" type="button" (click)="logOut()">
      Log out
    </button>
  </div>
</div>
