a:hover div, .categories:hover, .tags:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.selected {
    border-right: 4px solid aqua;
    background: linear-gradient(to left, rgba(240, 255, 255, 1), rgba(240, 255, 255, 0))
}