<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Presentation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <button class="btn btn-default active" type="button" (click)="toggleLoginForm()">Log In</button>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
</header>
<div style="width: 500px;" class="mx-auto">
  <form  class="form-horizontal border mt-5 p-3 d-flex flex-column justify-content-center" *ngIf="isLoginShown">
    <label for="inputLogin3" class="control-label">Введите логин</label>
    <input name="Login" type="text" class="form-control" id="login" placeholder="Login" [(ngModel)]="user.login"/> <br>
    <label for="inputPassword3" class="control-label">Введите пароль</label>
    <input name="Password" type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password"/><br>
    <button type="submit" class="btn btn-success align-self-end" (click)="logIn()">Sign in</button>
  </form>
</div>
